.imgAdmin {
    border-radius: 50%;
    @include media-breakpoint-down(lg) {
        width: 100px;
        height: auto;
        display: flex;
    }
}
.textList{
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg){
        h1{
            display: none;
        }
        display: flex;
        justify-content: end;
    }
}
.nameAdmin{
    font-family: $font-family-julius;
}
.imgFilms {
    width:10%;
}
td {
    align-content: center;
    text-align: center;
}
th {
    text-align: center;
}
.color-trash {
    color: red;
    margin-left: 1rem;
    
}

.table> :not(caption) > * > * {
    background-color: black;
}