.contact .content {
    padding: 20px 30px;
}

.contact .content .row {
    border-radius: 15px;
    padding: 20px 10px;
    @include media-breakpoint-up(lg) {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.contact .content .row a {
    color: white;
}

.contact .content .row a:hover {
    color: $primary;
}