body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: $headings-font-family-julius;
    font-weight: $headings-font-julius-weight;
}

h3 {
    font-family: $font-family-oxanium;
    font-style: $font-family-oxanium-size;
    text-transform: uppercase; // Comprobar en FIGMA que todos los h3 sean en mayúscula
}

button {
    font-family: $font-family-oxanium !important;
    text-transform: uppercase;
}

/* Estilos para contact.php */
.contact .content {
    padding: 20px 30px;
}

.contact .content .row {
    border-radius: 15px;
    padding: 20px 10px;
    @include media-breakpoint-up(lg) {
        background-color: $divTransparency;
    }
}

.contact .content .rrss {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact .content .rrss .icon {
    width: 3rem;
    height: auto;
    margin-right: 25px;
}

.contact .content .rrss a {
    color: $white;
}

.contact .content .rrss a:hover {
    color: $primary;
}

.contact .content .form {
    height: 100%;
}