body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: $font-family-julius;
    font-weight: $font-family-julius-weight;
    font-size: $font-family-julius-size-h1;
}

h2 {
    font-family: $font-family-julius;
    font-size: $font-family-julius-size-h2;
    font-weight: $font-family-julius-weight;
}

h3 {
    font-family: $font-family-oxanium;
    font-size: $font-family-oxanium-size;
    text-transform: uppercase; // Comprobar en FIGMA que todos los h3 sean en mayúscula
}

p{
    font-family: $font-family-calibri;
    font-size: $font-family-calibri-size-p;
}

button {
    font-family: $font-family-oxanium !important;
    text-transform: uppercase;
}

a {
    color: $white;
}

a:hover {
    color: $primary;
}

/* Estilos para contact.php */
.contact .content {
    .row {
        @include media-breakpoint-up(lg) {
            background-color: $divTransparency;
            border-radius: 15px;
        }
    }

    .rrss {
        .icon {
            width: 3rem;
            height: auto;
            margin-right: 25px;
        }
    }

    form textarea {
        height: 167px;
    }
}

/* Estilos para about.php */
.about .content {
    p {
        text-align: justify;
    }

    @include media-breakpoint-up(lg) {
        background-color: $divTransparency;
        border-radius: 15px;
    }
}

/* Estilos para login.php */
.login .content {
    @include media-breakpoint-up(lg) {
        background-color: $divTransparency;
        border-radius: 15px;
    }
}