// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding


// html {
//    height: 100%;
    // scroll-padding-top: calc(#{$navbar-height} - 1px);
//}

// Styling for page sections
//.page-section {
//    padding: 6rem 0;

//    .page-section-heading {
//        font-size: 2.25rem;
//        line-height: 2rem;
//    }

//    @include media-breakpoint-up(lg) {
//        .page-section-heading {
//            font-size: 3rem;
//            line-height: 2.5rem;
//        }
//    }
//}

body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: $font-family-oxanium;
}

button {
    border-radius: 0 !important;
    font-family: $font-family-oxanium !important;
    text-transform: uppercase;
}

@media (min-width: 992px) {} // Aquí irían los aspectos que solo entran en acción en >lg

