.about .content {
  h1, h2 {
    font-family: $font-family-oxanium;
    font-size: $font-family-oxanium-size;
    text-transform: uppercase;
  }
  
  h3 {
    font-family: $font-family-oxanium;
    font-size: $font-family-oxanium-size-h3;
  }

  p {
    text-align: left;
  }

  ol.lista {
    font-family: $font-family-calibri;
    font-size: $font-family-calibri-size-p;
  }

  ol.sublista {
    list-style-type: upper-roman;
  }

  ul li {
    font-family: $font-family-calibri;
    font-size: $font-family-calibri-size-p;
    text-align: left;
  }

  @include media-breakpoint-up(lg) {
    background-color: $divTransparency;
    border-radius: 15px;
  }

  a:hover{
    text-decoration: underline !important;
  }
}