.contact {
  .content {
    @include media-breakpoint-up(lg) {
      background-color: $divTransparency;
      border-radius: 15px;
    }
  
    a.miembros {
      font-size: $font-family-calibri-size-miembros;
    }

    .enlaces {
      display: flex;
      align-items: center;
    }
  
    form textarea {
      height: 150px;
      resize: none;
    }
  }
}