.detalles {
  background-image: url("../assets/img/imagen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  margin: 0;

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card-body {
    flex-grow: 1; /* El cuerpo de la tarjeta crece para ocupar el espacio restante */
  }

  .transparente {
    background-color: $divConFondoOscuro !important;
    padding: 20px;
    width: 75%;

    @include media-breakpoint-down(lg) {
      width: 90%;
    }
  }

  .transparente .calificacion {
    font-family: $font-family-oxanium;
    font-size: $font-family-oxanium-size;
  }
}
