.contenedorGeneros {
  a {
    text-decoration: none;
    h2 {
      font-size: $font-family-julius-size-h1 !important;
      font-family: $font-family-julius;
    }
    &:hover {
      text-decoration: underline;
      color: $secondary;
    }
  }
}
