.index {
  .topGenero {
    h2 {
      font-family: $font-family-julius;
      font-weight: $font-family-julius-weight;
      font-size: 30px !important;

      @include media-breakpoint-up(lg) {
        font-size: $font-family-julius-size-h2-mobile !important;
      }

      word-wrap: break-word;
    }
    .genero {
      font-family: $font-family-calibri;
      font-size: $font-family-calibri-size-p;
    }
  }
  .top3 {
    img {
      width: 500px;
    }
  }

  .movil {
    h2 {
      font-family: $font-family-julius;
      font-weight: $font-family-julius-weight;
      font-size: $font-family-julius-size-h1;
      word-wrap: break-word;
      @include media-breakpoint-down(lg) {
        font-size: $font-family-julius-size-h2-mobile;
      }
    }
    img {
      height: 200px;
    }
  }

  .text-clamp {
    display: -webkit-box; /* Define un contenedor flex para el recorte */
    -webkit-box-orient: vertical; /* Define la orientación vertical de la caja */
    overflow: hidden; /* Oculta el contenido desbordado */
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos */
  }
}
