.index {
  .topGenero {
    h2 {
      font-family: $font-family-julius;
      font-weight: $font-family-julius-weight;
      font-size: 30px !important;

      @include media-breakpoint-up(lg) {
        font-size: $font-family-julius-size-h2-mobile !important;
      }

      word-wrap: break-word;
    }
    .genero {
      font-family: $font-family-calibri;
      font-size: $font-family-calibri-size-p;
    }
  }
  .top3 {
    img {
      width: 500px;
    }
    a:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }

  .movil {
    h2 {
      font-family: $font-family-julius;
      font-weight: $font-family-julius-weight;
      font-size: $font-family-julius-size-h1;
      word-wrap: break-word;
      @include media-breakpoint-down(lg) {
        font-size: $font-family-julius-size-h2-mobile;
      }
    }
    img {
      height: 200px;
    }
  }

  .text-clamp {
    display: -webkit-box; /* Define un contenedor flex para el recorte */
    -webkit-box-orient: vertical; /* Define la orientación vertical de la caja */
    overflow: hidden; /* Oculta el contenido desbordado */
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos */
  }
}

.modal {
  position: fixed;
  z-index: 2000 !important; /* Valor más alto con prioridad */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Mejora la visibilidad del modal */
  padding-top: 20px;

  color: black;

  .noError {
    display: none;
  }

  .error {
    color: $red;
  }

  /* Full-width input fields */

  input:not([type]),
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* Add a background color when the inputs get focus */
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for all buttons */
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }

  .row-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column-form {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 1em;
    flex: 1;
  }

  h1.modal-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
