* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .wrapper {
            height: 600px;
            width: 600px;
            background-color: $divTransparency;
            border-radius: 10px;
            padding: 25px !important;

            .cards, .carta, .view {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .cards {
                height: 100%;
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-between;

                .carta {
                    cursor: pointer;
                    height: calc(100% / 4 - 10px);
                    width: calc(100% / 4 - 10px);

                    .view {
                        width: 100%;
                        height: 100%;
                        background-color: $divTransparency;
                        border-radius: 7px;
                    }

                    .front-view span {
                        font-size: $font-family-calibri-size-juegoMemoria;
                    }

                    .back-view {
                        display: none;

                        img {
                            max-width: 45px;
                        }
                    }
                }
            }
        }
    }
}