.login .content {
  h1 {
    font-family: $font-family-oxanium;
    font-size: $font-family-oxanium-size;
    text-transform: uppercase;
  }

  p.error {
    color: $red;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    background-color: $divTransparency;
    border-radius: 15px;
  }

  input:focus {
    outline: 2px solid $statusOnHold !important;
    border-color: $statusOnHold !important;
    box-shadow: 0 0 5px $statusOnHold !important;
}

}