.signup .content {
  h1 {
    font-family: $font-family-oxanium;
    font-size: $font-family-oxanium-size;
    text-transform: uppercase;
  }
  
  .noError {
    display: none;
  }

  .error {
    color: $red;
  }

  @include media-breakpoint-up(lg) {
    background-color: $divTransparency;
    border-radius: 15px;
  }
}