.usuario {
  .datos-usuario {
    .foto-perfil {
      width: 320px;
      height: 320px;
      img {
        border-radius: 10%;
        min-width: 200px;
        min-height: 250px;
      }
    }
    width: 75% !important;

    .btn {
      font-size: $font-family-oxanium-size-h3;
    }
    @include media-breakpoint-down(lg) {
      width: 100% !important;
    }

    .noError {
      display: none;
    }

    .error {
      color: $red;
      text-align: center;
    }

    .edit {
      font-size: 2em;
      display: inline-block;
    }
    .campos {
      .campo {
        div {
          font-family: $font-family-calibri;
          font-size: $font-family-calibri-size-p;
        }

        border: 3px solid $black;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
      }
    }
    input:focus {
      outline: 2px solid $statusOnHold !important;
      border-color: $statusOnHold !important;
      box-shadow: 0 0 5px $statusOnHold !important;
  }
  }
  
}
