.usuario {
  .datos-usuario {
    .foto-perfil {
      width: 320px;
      height: 320px;
      img {
        border-radius: 10%;
        min-width: 200px;
        min-height: 250px;
      }
    }

    .campos {
      .campo {
        div {
          font-family: $font-family-calibri;
          font-size: $font-family-calibri-size-p;
        }

        border: 3px solid $black;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .lista-usuario {
    .top {
      width: 100%;

      h1 {
        font-family: $font-family-julius;
        font-size: $font-family-julius-size-h2-mobile;
        text-transform: uppercase;
      }
    }
    width: 85%;
  }
}
