$primary: #1565C0;
$secondary: #BBDEFB;
$white: #FFFFFF;
$red: #FF0000;
$black: #000000;
$info: #3D3D3D;

$divTransparency: rgba(255, 255, 255, 0.1);
$divConFondoOscuro: rgba(0,0,0,0.8);

$statusOnHold: #FFFF00;
$statusCurrentlyWatching: #1565C0;
$statusDropped: #FF0000;
$statusPlanToWatch: #BEBEBE;
$statusCompleted: #00FF00;