$primary: #1565c0;
$secondary: #bbdefb;
$white: #ffffff;
$red: #ff0000;
$black: #000000;
$info: #3d3d3d;
$lightGrey: #ccc;
$lightGrey2: #999;

$divTransparency: rgba(255, 255, 255, 0.1);
$divConFondoOscuro: rgba(0, 0, 0, 0.8);

$statusOnHold: #ffff00;
$statusCurrentlyWatching: #1565c0;
$statusDropped: #ff0000;
$statusPlanToWatch: #bebebe;
$statusCompleted: #00ff00;

$grey: $statusPlanToWatch;

.statusCurrentlyWatching {
  border-left: 5px solid $statusCurrentlyWatching; // watching
}
.statusOnHold {
  border-left: 5px solid $statusOnHold; // on-hold
}
.statusDropped {
  border-left: 5px solid $statusDropped; // dropped
}
.statusPlanToWatch {
  border-left: 5px solid $statusPlanToWatch; // ptw
}
.statusCompleted {
  border-left: 5px solid $statusCompleted; // completed
}
