/***** Tipografia Oxanium *****/
$font-family-oxanium: "Oxanium", serif;
$font-family-oxanium-size: 2em;
$font-family-oxanium-size-h3: 1.5em;



/***** Tipografia Julius Sans One *****/
$font-family-julius: "Julius Sans One", serif;
$font-family-julius-weight: 400;
$font-family-julius-size-h1: 3.5em;
$font-family-julius-size-h2: 3em;
$font-family-julius-size-h2-mobile: 2em;


/***** Tipografia Calibri *****/
$font-family-calibri: "Calibri", sans-serif;
$font-family-calibri-size-p: 1.5em;
$font-family-calibri-size-juegoMemoria: 2.5em;
$font-family-calibri-size-miembros: 1.33em;