// 
// Typography
// 


$font-family-oxanium: "Oxanium", serif;

$headings-font-family-julius: "Julius Sans One", serif;

$headings-font-julius-weight: 400;

<<<<<<< HEAD
$headings-font-weight: 700;
$oxanium-font-size: 30px;
=======
>>>>>>> e07ca7ad752649086a5511f72738b9f8ce2f3a6d
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.75;
