.pagina-de-inico,
.pagina-de-inico * {
  box-sizing: border-box;
}
.pagina-de-inico {
  background: var(--color-fondo-texto, #000000);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.cabecera {
  background: var(--color-principal, #1565c0);
  padding: 0px 50px 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.logo-frame {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  position: relative;
  overflow: hidden;
}
.logo {
  align-self: stretch;
  flex-shrink: 0;
  height: 70px;
  position: relative;
  object-fit: cover;
}
.opciones-menu-frame {
  padding: 40px 27px 40px 27px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.peliculas-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.pel-culas {
  color: var(--color-texto, #ffffff);
  text-align: center;
  font-family: var(--h3-subtitle-font-family, "Oxanium", sans-serif);
  font-size: var(--h3-subtitle-font-size, 30px);
  font-weight: var(--h3-subtitle-font-weight, 500);
  text-transform: uppercase;
  position: relative;
  width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.series-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.series {
  color: var(--color-texto, #ffffff);
  text-align: center;
  font-family: var(--h3-subtitle-font-family, "Oxanium", sans-serif);
  font-size: var(--h3-subtitle-font-size, 30px);
  font-weight: var(--h3-subtitle-font-weight, 500);
  text-transform: uppercase;
  position: relative;
  width: 146px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.generos-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.generos {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: var(--h3-subtitle-font-family, "Oxanium", sans-serif);
  font-size: var(--h3-subtitle-font-size, 30px);
  font-weight: var(--h3-subtitle-font-weight, 500);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lupa-frame {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: auto;
  position: relative;
  overflow: visible;
}
.user-alt-frame {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: auto;
  position: relative;
  overflow: visible;
}
.destacados {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.carousel-novedades {
  background: var(--gray-700, #495057);
  flex: 1;
  height: 436px;
  position: relative;
  overflow: hidden;
}
.carousel-content {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 500%;
  position: absolute;
  right: -300%;
  left: -100%;
  bottom: 0px;
  top: 0px;
}
.components-carousel-item {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.slide-no {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 108.5px);
  top: calc(50% - 33px);
  overflow: hidden;
}
.text {
  color: var(--gray-700, #495057);
  text-align: left;
  font-family: "Abel-Regular", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.carousel-caption {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  padding: 20px 0px 36px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 120px;
  left: 120px;
  bottom: 20px;
}
.slide-label {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text2 {
  color: var(--gray-white, #ffffff);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-text {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text3 {
  color: var(--gray-white, #ffffff);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.min-width-change-size-here {
  display: flex;
  flex-direction: row;
  gap: 400px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.ignore {
  flex-shrink: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(0, 0);
}
.slide-no2 {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 0.5px);
  top: calc(50% - 33px);
  overflow: hidden;
}
.text4 {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: "Abel-Regular", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text5 {
  color: var(--gray-white, #ffffff);
  text-align: center;
  font-family: var(--h3-subtitle-font-family, "Oxanium", sans-serif);
  font-size: var(--h3-subtitle-font-size, 30px);
  font-weight: var(--h3-subtitle-font-weight, 500);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text6 {
  color: var(--gray-white, #ffffff);
  text-align: center;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.slide-no3 {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 109.5px);
  top: calc(50% - 33px);
  overflow: hidden;
}
.slide-no4 {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 127.5px);
  top: calc(50% - 33px);
  overflow: hidden;
}
.slide-no5 {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 124.5px);
  top: calc(50% - 33px);
  overflow: hidden;
}
.carousel-indicators {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 69.5px);
  bottom: 16px;
  overflow: hidden;
}
.carousel-indicator {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  border-radius: 1px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper {
  background: var(--gray-white, #ffffff);
  opacity: 0.5;
  padding: 1.5px 15px 1.5px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ignore2 {
  flex-shrink: 0;
  width: 0px;
  height: 0px;
  position: relative;
}
.wrapper2 {
  background: var(--gray-white, #ffffff);
  padding: 1.5px 15px 1.5px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.carousel-nav {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  opacity: 0.5;
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
.icon {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.width-change-size-here {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-wrapper-h {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.height-change-size-here {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  overflow: hidden;
}
.icon-wrapper {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.carousel-nav2 {
  background: var(--hitbox, rgba(255, 255, 255, 0));
  opacity: 0.5;
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.icon-wrapper2 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.lista-novedades {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.ejemplo-en-lista-movil {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 140px;
  position: relative;
  overflow: hidden;
}
.image {
  width: 130px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-9 {
  background: var(--color-fondo-texto, #000000);
  width: 261px;
  height: 140px;
  position: absolute;
  left: 130px;
  top: 0px;
}
.ler {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 144px;
  top: 39px;
  width: 249px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ler-span {
  color: #ffffff;
  font-family: var(
    --h1-header-font-family,
    "Julius Sans One",
    sans-serif
  );
  font-size: var(--h1-header-font-size, 40px);
  font-weight: var(--h1-header-font-weight, 400);
  text-transform: uppercase;
}
.ler-span2 {
  color: #ffffff;
  font-family: var(--paragraph-font-family, "Calibri", sans-serif);
  font-size: var(--paragraph-font-size, 25px);
  font-weight: var(--paragraph-font-weight, 400);
}
.ler-span3 {
  color: #ffffff;
  font-family: var(
    --h1-header-font-family,
    "Julius Sans One",
    sans-serif
  );
  font-size: var(--h1-header-font-size, 40px);
  font-weight: var(--h1-header-font-weight, 400);
  text-transform: uppercase;
}
.ler-span4 {
  color: #ffffff;
  font-family: var(--paragraph-font-family, "Calibri", sans-serif);
  font-size: var(--paragraph-font-size, 25px);
  font-weight: var(--paragraph-font-weight, 400);
}
.ler-span5 {
  color: #ffffff;
  font-family: var(
    --h1-header-font-family,
    "Julius Sans One",
    sans-serif
  );
  font-size: var(--h1-header-font-size, 40px);
  font-weight: var(--h1-header-font-weight, 400);
  text-transform: uppercase;
}
.ler-span6 {
  color: #ffffff;
  font-family: var(--paragraph-font-family, "Calibri", sans-serif);
  font-size: var(--paragraph-font-size, 25px);
  font-weight: var(--paragraph-font-weight, 400);
}
.peliculas-destacadas {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --h1-header-font-family,
    "Julius Sans One",
    sans-serif
  );
  font-size: var(--h1-header-font-size, 40px);
  font-weight: var(--h1-header-font-weight, 400);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 3px var(--color-principal, #1565c0);
}
.lista-peliculas {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pelis-series-inicio {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-119 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 106px;
  position: relative;
}
.boton-drcho {
  border-radius: var(--space-spacing-12, 48px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 50px;
  height: 101px;
  position: relative;
  overflow: visible;
}
.peliculas-previa {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: var(--space-spacing-5, 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  min-height: 250px;
  position: relative;
  overflow: hidden;
}
.pelicula-nombre-de-pelicula-texto-largo {
  color: var(--color-texto, #ffffff);
  text-align: center;
  font-family: var(--paragraph-font-family, "Calibri", sans-serif);
  font-size: var(--paragraph-font-size, 25px);
  font-weight: var(--paragraph-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.pelicula-nombre-de-pelicula-texto-largo2 {
  color: var(--color-texto, #ffffff);
  text-align: center;
  font-family: var(--paragraph-font-family, "Calibri", sans-serif);
  font-size: var(--paragraph-font-size, 25px);
  font-weight: var(--paragraph-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton-drcho2 {
  background: var(--color-principal, #1565c0);
  border-radius: var(--space-spacing-12, 48px);
  padding: 26px 0px 26px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 101px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.arrow-alt-circle-right {
  border-radius: 50px;
  flex-shrink: 0;
  width: 50px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.series-destacadas {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --h1-header-font-family,
    "Julius Sans One",
    sans-serif
  );
  font-size: var(--h1-header-font-size, 40px);
  font-weight: var(--h1-header-font-weight, 400);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 3px var(--color-principal, #1565c0);
}
.carrusel-series {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.lista-peliculas2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 250px;
  position: relative;
}
.pelis-series-inicio2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.boton-drcho3 {
  border-radius: var(--space-spacing-12, 48px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 50px;
  height: 101px;
  position: relative;
  overflow: visible;
}
.arrow-alt-circle-right2 {
  border-radius: 50px;
  flex-shrink: 0;
  width: 50px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.footer {
  background: var(--color-footer, #3d3d3d);
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.principal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 246px;
  position: relative;
}
.frame-29 {
  flex-shrink: 0;
  width: 246px;
  height: 246px;
  position: relative;
  object-fit: cover;
}
.nav {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
  height: 323px;
  position: relative;
  overflow: hidden;
}
.inicio {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  overflow: hidden;
}
.inicio2 {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  transform-origin: 0 0;
  transform: rotate(0.034deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.peliculas {
  color: #ffffff;
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.series2 {
  color: #ffffff;
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.generos2 {
  color: #ffffff;
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ayuda {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  overflow: hidden;
}
.ayuda2 {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contacto {
  color: #ffffff;
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.enlaces {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.politicas {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 210px;
  position: relative;
  overflow: hidden;
}
.politica-de-privacidad {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.condiciones-de-uso {
  color: #ffffff;
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.politicas-de-cookies {
  color: var(--color-texto, #ffffff);
  text-align: left;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.empresas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 323px;
  position: relative;
}
.frame-26 {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.amazon-logo {
  flex-shrink: 0;
  width: 100px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.netflix-logo {
  flex-shrink: 0;
  width: 113.33px;
  height: 50px;
  position: relative;
}
.group {
  width: 100%;
  height: 99.68%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.32%;
  top: 0%;
  overflow: visible;
}
.hbo-logo-logo {
  flex-shrink: 0;
  width: 113.33px;
  height: 50px;
  position: relative;
}
.layer-x-0020-1 {
  height: auto;
  position: absolute;
  left: 2.99px;
  top: 2.94px;
  overflow: visible;
}
.disneyplus-logo {
  flex-shrink: 0;
  width: 113.33px;
  height: 50px;
  position: relative;
}
.group2 {
  width: 95.09%;
  height: 91.19%;
  position: absolute;
  right: 2.85%;
  left: 2.07%;
  bottom: 3.25%;
  top: 5.56%;
  overflow: visible;
}
.redes-sociales {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 340px;
  position: relative;
}
.rrss {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-logo-tiktok {
  flex-shrink: 0;
  width: 34.67px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.instagram {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.twitter {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.icon-logo-facebook {
  flex-shrink: 0;
  width: 40.24px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.icon-logo-youtube {
  flex-shrink: 0;
  width: 53.33px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.icon-logo-reddit {
  flex-shrink: 0;
  width: 46.15px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.copy-right {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1990-2024-by-rbdm-com-inc {
  color: #ffffff;
  text-align: left;
  font-family: var(--paragraph-font-family, "Calibri", sans-serif);
  font-size: var(--paragraph-font-size, 25px);
  font-weight: var(--paragraph-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
