/* Figma Styles of your File */
:root {
  /* Colors */
  --color-principal: #1565c0;
  --color-secundario: #bbdefb;
  --color-fondo-texto: #000000;
  --color-texto: #ffffff;
  --color-footer: #3d3d3d;
  --estado-visualizacion-estado-pausado: #ffff00;
  --estado-visualizacion-estado-viendo: #1565c0;
  --estado-visualizacion-estado-abandonado: #ff0000;
  --estado-visualizacion-estado-pendiente: #bebebe;
  --estado-visualizacion-estado-acabada: #00ff00;

  /* Fonts */
  --h1-header-font-family: "Julius Sans One", sans-serif;
  --h1-header-font-size: 40px;
  --h1-header-line-height: normal;
  --h1-header-font-weight: 400;
  --h1-header-font-style: normal;
  --h3-subtitle-font-family: "Oxanium", sans-serif;
  --h3-subtitle-font-size: 30px;
  --h3-subtitle-line-height: normal;
  --h3-subtitle-font-weight: 500;
  --h3-subtitle-font-style: normal;
  --paragraph-font-family: "Calibri", sans-serif;
  --paragraph-font-size: 25px;
  --paragraph-line-height: normal;
  --paragraph-font-weight: 400;
  --paragraph-font-style: normal;
  --h1-header-movil-font-family: "Julius Sans One", sans-serif;
  --h1-header-movil-font-size: 40px;
  --h1-header-movil-line-height: normal;
  --h1-header-movil-font-weight: 400;
  --h1-header-movil-font-style: normal;
  --h2-mobile-font-family: "Julius Sans One", sans-serif;
  --h2-mobile-font-size: 35px;
  --h2-mobile-line-height: normal;
  --h2-mobile-font-weight: 400;
  --h2-mobile-font-style: normal;
  --h2-title-font-family: "Julius Sans One", sans-serif;
  --h2-title-font-size: 35px;
  --h2-title-line-height: normal;
  --h2-title-font-weight: 400;
  --h2-title-font-style: normal;
  --h2-title-movil-font-family: "Julius Sans One", sans-serif;
  --h2-title-movil-font-size: 35px;
  --h2-title-movil-line-height: normal;
  --h2-title-movil-font-weight: 400;
  --h2-title-movil-font-style: normal;
  --h3-subtitle-movil-font-family: "Oxanium", sans-serif;
  --h3-subtitle-movil-font-size: 30px;
  --h3-subtitle-movil-line-height: normal;
  --h3-subtitle-movil-font-weight: 500;
  --h3-subtitle-movil-font-style: normal;
  --paragraph-movil-font-family: "Calibri", sans-serif;
  --paragraph-movil-font-size: 25px;
  --paragraph-movil-line-height: normal;
  --paragraph-movil-font-weight: 400;
  --paragraph-movil-font-style: normal;

  /* Effects */
  --sombras-frame-10x10y-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  --ombras-frame-foto-perfil-luminosidad-fondo-box-shadow: 0px 0px 100px 8px
    rgba(187, 222, 251, 0.5);
}
