.footer {
    margin-top: auto;
    background-color: $info;
    padding-top: 2rem;
    
    .logo {
        width: 200px;
        height: auto;
    }

    .icon {
        width: 4rem;
        height: auto;
        margin: 1rem;
    }

    .enlaces {
        display: flex;
        flex-direction: column;
        font-size: $font-family-oxanium-size;
        font-family: $font-family-oxanium;

        a {
            text-transform: uppercase;
        }

        @include media-breakpoint-up(lg) {
            text-align: center;
        }
    }
}