.footer {
    background-color: $footer !important;

}

.footer .logo {
    width: 200px;
    height: auto;
}

.footer .icon {
    width: 2rem;
    height: auto;
}
.footer .icons {
    display: flex;
    justify-content:center;
}
