nav {
    img{
        height: 60px;
        cursor: pointer;
    }
    i {
        font-size: 30px;
        color: $secondary;
    }

    .iconos {
        margin-top: $espacio-navbar-top;
    }

    .icono-Log-Out {
        color: red;/*CF2: No se pueden poner valores absolutos de colores, hay que usar variables*/
        font-size: 16px; /*CF2: Usa las variables sass!*/
        margin-left: 10px;
    }

    .nav-link {
        font-family: $font-family-oxanium;
        font-size: $font-family-oxanium-size;
        color: $white;
        margin-left: 20px;
        margin-top: $espacio-navbar-top;
        &:hover {
            text-decoration: underline;
        }
    }

    .menuDropdown a {
        font-family: $font-family-oxanium;
    }
}







